*,
::before,
::after {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
nav {
  background: blue;
  color: white;
  padding: 1em;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 5em;
}
nav ul li {
  list-style-type: none;
  font-size: 2rem;
}

.section__1 {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #043288;
  height: 50vh;
  margin-top: 5em;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.section__1 h1 {
  font-size: 5rem;
}

.section__2 {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #043288;
  height: 30vh;
  margin-top: 2em;
}
.big__box {
  border: 5px solid #be0796;
}
