.banner__container {
  border: 5px solid red;
  height: 32%;
  margin-top: 5em;
}
.banner {
  background: #7287ff;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(233, 233, 233, 0.089);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.103);
  margin-bottom: 5em;
  margin-top: 7em !important;
}
.carousel__img {
  width: 50%;
  margin: 0 auto;
}
.img {
  width: 100%;
}

@media (min-width: 768px) {
  .banner {
    margin-top: 2em;
    height: 75vh;
  }
}
