.basket__container {
  /* border: 2px solid red; */
  background: white;
  margin: 2em;
  margin-top: 7em;
  padding: 2em;
}
.back__btn {
  background: white;
  padding: 0.3em 1em;
  border-radius: 5px;
  box-shadow: 4px 3px 8px 1px #fafafa;
  -webkit-box-shadow: 4px 3px 8px 1px #dfdfdf;
  cursor: pointer;
  width: 65px;
}
.user__email {
  font-weight: 700;
  font-size: 1.2rem;
}

.price__container {
  display: flex;
  justify-content: space-between;
  /* border: 5px solid red; */
  margin: 0 1em 0 0;
  cursor: pointer;
  margin-top: 2em;
}
.price__container .price {
  font-size: 1.3rem;
  font-weight: 700;
}
.price__container .old__price {
  font-size: 0.8rem;
  color: red;
  text-decoration: line-through;
}

.btns__container {
  display: flex;
  gap: 0.5em;
}
.btns__container button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background: white;
  box-shadow: 4px 3px 8px 1px #fafafa;
  -webkit-box-shadow: 4px 3px 8px 1px #dfdfdf;
  padding: 0.4em 0.7em;
  border-radius: 5px;
}
.delete__btn {
  color: red;
}

.free__deliver {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0bbf6883;
  padding: 0.3em;
}
.free__deliver span {
  font-size: 0.9rem;
}
.proceed__checkout small {
  color: #b9b9b9;
}
.btn__proceed {
  background: #3b41dc;
  color: white;
  margin-top: 1em;
  padding: 0.5em 1em;
  box-shadow: 4px 3px 8px 1px #fafafa;
  -webkit-box-shadow: 4px 3px 8px 1px #dfdfdf;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn__proceed:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 8px 1px #858585;
  -webkit-box-shadow: 0px 5px 8px 0px #858585;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .welcom__container,
  .cart__title {
    display: flex;
    justify-content: space-between;
  }
  .welcom__container {
    margin: 0 2em;
  }
  .cart__title {
    margin: 0 2em;
  }
  .cart__content {
    display: flex;
  }
  .cart__item__container {
    padding: 0 1em;
  }
  .each__cart {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
  }
  .img__cart__container {
    width: 70%;
  }
  .proceed__checkout {
    width: 90%;
    padding: 1em 0 1em 1em;
    box-shadow: 0px 5px 8px 1px #d6d6d6;
    -webkit-box-shadow: -5px 0px 3px -5px #d6d6d6;
  }
}
