.detailProduct {
  /* border: 5px solid #da1515; */
  margin-top: 7em;
  background: white;
  margin: 2em;
}
.welcom__container {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}
.back__btn {
  background: white;
  padding: 0.3em 1em;
  border-radius: 5px;
  box-shadow: 4px 3px 8px 1px #fafafa;
  -webkit-box-shadow: 4px 3px 8px 1px #dfdfdf;
  cursor: pointer;
}
.user__email {
  font-weight: 700;
  font-size: 1.2rem;
}

.product__detail__container {
  display: flex;
}
