.container__header {
  background: white;
  min-height: 5em;
  box-shadow: 0 0 0.8em rgba(233, 233, 233, 0.671);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10vh;
  margin: 0 auto;
}
.logo {
  width: 15%;
}
.img {
  width: 100%;
  height: 100%;
}
