.container__header {
  background: yellow;
  min-height: 5em;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.logo {
  width: 15%;
}
.img {
  width: 100%;
  height: 100%;
}
