.save__container {
  background: #f3f3f3;
  margin: 1em;
  margin-top: 7em;
  padding: 1em;
}
.product__detail__container {
  box-shadow: 4px 3px 8px 1px #fafafa;
  -webkit-box-shadow: 0px 0px 8px 0px #dfdfdf;
  margin: 2em 1em;
  padding: 1em;
  border-radius: 5px;
  background: white;
}
.back__btn {
  background: white;
  padding: 0.3em 1em;
  border-radius: 5px;
  box-shadow: 4px 3px 8px 1px #fafafa;
  -webkit-box-shadow: 4px 3px 8px 1px #dfdfdf;
  cursor: pointer;
  width: 65px;
}
.user__email {
  font-weight: 700;
  font-size: 1.2rem;
}

.product__img {
  cursor: pointer;
  width: 50%;
  position: relative;
}
.product__img img {
  width: 100%;
  height: 100%;
}

.btn__view {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2a6ce7;
  color: white;
  padding: 0.2em 1em;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0px 0px 5px 0px rgba(233, 233, 233, 0.089);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.103);
  display: none;
  transition: all 0.3s;
}

.product__detail__description {
  margin-left: 2em;
}
.price {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.old__price {
  font-size: 0.5em;
  color: red;
  text-decoration: line-through;
}
.delivery {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: green;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.6em;
}
.delivery p {
  margin-left: 0.6em;
}
.add__to__cart {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.btn__add__container {
  display: flex;
  align-items: center;
  border: 2px solid #0b79bf;
  padding: 0.2em 0.8em;
  border-radius: 5px;
}
.btn__add__container span {
  color: #0b79bf;
}
.btn__stars {
  color: #ffc508;
}

.disclamer {
  background: #ffffff;
  padding: 0.5em 1em;
  margin-top: 1em;
}

@media (max-width: 766px) {
  .save__container {
    background: #f3f3f3;
    margin: 0.2em;
    margin-top: 5em;
    padding: 0.1em;
  }
  .product__detail__container {
    margin: 1em 0.4em;
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .welcom__container {
    display: flex;
    justify-content: space-between;
  }
  .welcom__container {
    margin: 0 2em;
  }
  .product__detail__container {
    display: flex;
    margin: 2em 4em;
  }
  .product__detail__description {
    width: 70%;
  }
  .add__to__cart {
    width: 70%;
    justify-content: space-between;
    margin-top: 1em;
  }
}
