.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 45px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 120;
}
.tooltiptext {
  font-size: 12px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.icons__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.img {
  visibility: hidden;
}

@media (max-width: 7666px) {
  .icons__container {
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding: 1em;
    background: #f0f0f0;
    align-items: center;
    box-shadow: 0 0 0.3em rgba(221, 221, 221, 0.57);
  }
  .avatar {
    display: none;
  }
}

@media (min-width: 768px) {
  .leftSideBar {
    background: rgb(255, 255, 255);
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    width: 10%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 0.3em rgba(221, 221, 221, 0.57);
    cursor: pointer;
  }
  .img {
    visibility: inherit;
  }
}
